/** 项目的专用class **/
.ul-list-card-1-0 {
  .col {
    &:hover {
      background-color: #4095ec;
      color: white;
      a {
        color: white;
      }
      .icon {
        background-color: #4095ec;
        border-color: white;
      }
    }
    .icon {
      font-size: 1.75rem;
      width: 80px;
      line-height: 80px;
      text-align: center;
      height: 80px;
      background-color: #43788e;
      border: 1px solid #43788e;
      color: white;
      border-radius: 9999px;
      display: block;
    }
  }
}

.ul-list-card-2-0 {
  .icon {
    height: 76px;
    width: 76px;
    background-color: #6db5ca;
    border: 1px solid #6db5ca;
    text-align: center;
    line-height: 76px;
    display: block;
    font-size: 28px;
    border-radius: 9999px;
    &[class*="fill"] {
      display: none;
    }
  }
  .col {
    &:hover {
      background-color: #4095ec;
      color: white;
      a {
        color: white;
      }
      .icon {
        display: none;
        background-color: #4095ec;
        border-color: white;
        &[class*="fill"] {
          display: block;
        }
      }
    }
  }
}
