// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#000;
$headerMenuText:#fff;
$menuActiveText:#409EFF;
$subMenuActiveText:#1890ff; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#FFF;
$menuHover:inherit;

$subMenuBg:inherit;
$subMenuHover:inherit;
$subMenuHoverTextColor:#1890ff;

$headHeight:60px;
$sidebarMenuWidth:54px;
$headBg:#0B2251;
$sideBarWidth: 210px;
$headactiveBg:#1890ff;

$mainPading:20px;

// $_screen_sm_type : false;

// @if $_screen_sm {
//   $_screen_sm_type: true;
// }

// 对应tailwind.config ->screens ->md
$screen-sm: $_screen_sm;

// 对应tailwind.config ->screens ->md
$screen-md: $_screen_md;

// 对应tailwind.config ->screens ->lg
$screen-lg: $_screen_lg;

// 对应tailwind.config ->screens ->xl
$screen-xl: $_screen_xl;

$color-primary:$_primary;
$color-secondary:$_secondary;
$color-tertiary:$_tertiary;
$color-dark:$_dark;
$color-black:$_black;
$color-light:$_light;
$color-lighter:$_lighter;
$color-link:$_link;
$color-white:$_white;


:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  headerMenuText:$headerMenuText;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  headHeight:$headHeight;
  headBg:$headBg;
  headactiveBg:$headactiveBg;
  subMenuHoverTextColor:$subMenuHoverTextColor; 
  mainPading:$mainPading;
  sidebarMenuWidth:$sidebarMenuWidth;

  $screen-sm:$screen-sm;
  screen-md:$screen-md;
  screen-lg:$screen-lg;
  screen-xl:$screen-xl;
}
